.cards {
  position: relative;
  width: 548px;
  height: 320px;
  background-image: url('../public/assets/image.png');
  border-radius: 8px;
  h3 {
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: $white;
    font-size: $font-size;
    font-weight: $font-weight;
    font-family: $font-family;
    padding: 8px;
    margin: 0;
    background-color: $black;
    z-index: 10;
    &:hover {
      cursor: pointer;
      background-color: transparent;
      transform: translateX(10px);
      transition: all 0.3s ease-in-out;
    }
  }
}
