section {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 767px) {
  .cards__container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  display: block;
  font-size: $font-size;
  font-family: $font-family;
  transition: 0.3s all ease-in-out;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s all ease-in-out;
    z-index: -1;
  }
  .card__content {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 25px;
    color: $white;
    z-index: 10;
    h3 {
      padding: 10px;
      width: 100%;
      background-color: $black;
      margin: 0;
      z-index: 100;
      transition: 0.3s all ease-in-out;
      font-size: $font-size;
      font-weight: $font-weight;
      font-family: $font-family;
      letter-spacing: 1.5px;
    }
    span {
      background-color: $black;
      opacity: 0;
      position: absolute;
      padding: 10px;
      transition: 0.3s all ease-in-out;
    }
  }

  &:hover {
    cursor: pointer;
    img {
      transform: scale(1.1);
      filter: grayscale(100%);
    }
    h3 {
    background-color: transparent;
    transform: translateX(50px);
    }
    span {
      background-color: transparent;
      opacity: 1;
    }
  }

  &::before {
    content: "";
    background-color: rgba($color: $dark-green, $alpha: 1);
    position: absolute;
    bottom: -100%;
    left: -100%;
    transform: translate(50%,50%);
    transition: all 0.3s ease-in-out;
    border-radius: 50%;
    border: 5px solid $green;
    width: 30px;
    height: 30px;
    z-index: 1;
    mix-blend-mode: multiply;
  }

  &:hover::before {
    transform: scale(70);
  }

}
