// colors
$dark-green: #016844;
$green: #80B927;
$white: #FFFFFF;
$black: #000000;

// fonts-size
$font-size: 32px;

// fonts-weight
$font-weight: 700;

// fonts-family
$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
