// colors
$dark-green: #006944;
$green: #80BA27;
$white: #FFFFFF;
$black: #000000;

// fonts-size
$font-size: 32px;

// fonts-weight
$font-weight: 700;

// fonts-family
$font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
